{% extends 'main.html' %} {% block content %}

<div class="room-container">
  <div>
    <h1>Room Page</h1>
    <span>@{{room.host}}</span>
    <h4>{{room.name}}</h4>
    <p>{{room.description}}</p>

    <div class="comment-wrapper">
      <h3>Conversations</h3>
      <hr />
      {% for message in room_messages %}
      <div>
        <small>@{{message.user}} {{message.created|timesince}} ago</small>
        <p>{{message.body}}</p>
      </div>
      {% endfor%}
    </div>

    {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form method="POST" action="">
        {%csrf_token%}
        <input type="text" name="body" placeholder="Write a comment" />
        <input type="submit" value="Add Comment" />
      </form>
    </div>
    {% endif %}
  </div>
  <div>
    <h3>Participents</h3>
    <hr />
    {%for participent in participents%}
    <p>@{{participent}}</p>
    {%endfor%}
  </div>
</div>

<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

{% endblock %}
